*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	text-transform: capitalize;
}
// ::selection {
// 	background: $color-text;
// 	color: #fff;
// }

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	@media only screen and (max-width: $laptop-port) {
		font-size: 55%;
	}
	@media only screen and (max-width: $mbl-land) {
		font-size: 50%;
	}
	@media only screen and (max-width: $mbl-port) {
		font-size: 45%;
	}
}

body {
	font-family: $font-primary;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $color-white;
	overflow-x: hidden;
	// background-color: $color-black;
}

.main {
	background-color: #050510;
}

section {
	@media only screen and (max-width: $tab-port) {
		padding: 10rem !important;
	}
	@media only screen and (max-width: $mbl-port) {
		padding: 10rem 2rem !important;
	}
}

.btn-scrollToTop {
	position: fixed;
	bottom: 4rem;
	right: 2rem;
	height: 6rem;
	width: 6rem;
	background-color: #1aafe9;
	border-radius: 50%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(200%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;

	.icon {
		fill: white;
		transition: all 0.5s;
	}

	&:hover {
		.icon {
			fill: black;
		}
	}
}

.show-btn {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
