.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../img/bg-hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	height: auto;
	position: relative;

	@media only screen and (max-width: $tab-land) {
		background-position: center;
	}
	@media only screen and (max-width: $tab-land) {
		padding: 0 5rem;
	}
	@media only screen and (max-width: $tab-land) {
		padding: 0 2rem;
	}

	.content-wrapper {
		color: $color-white;
		max-width: 80rem;
		width: 100%;
		padding: 18.7em 12% 4em 0;
		margin-left: 16%;

		// position: absolute;
		// top: 50%;
		// left: 20%;
		// transform: translateY(-50%);

		@media only screen and (max-width: $tab-port) {
			margin-left: 0;
		}

		h1 {
			color: $color-white;
		}
		h3 {
			font-size: 3rem;
			color: $color-white;
		}

		.btn__trading {
			background-image: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
			// background-color: red;
			color: $color-white;
			border: none;
			padding: 1.5rem 3.5rem;
			// max-width: 35rem;
			display: inline-block;
			transition: all 0.1s ease;
			// transition: background 1s ease-in-out;
			// transition: #017bfd 3s, #20bfe1 3s;

			&:hover {
				background-image: linear-gradient(160deg, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%);
				color: $color-white;
			}

			.icon {
				fill: $color-white;
			}
		}

		.btn__trading {
			// transition: all 1s;
		}
	}
}
