.platform-section {
	padding: 6rem 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
		url('../img/platform-bg.jpg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;

	@media only screen and (max-width: $tab-land) {
		background-image: none !important;
	}

	h2 {
		text-align: center !important;
	}

	.platform__title {
		margin-bottom: 15rem;
	}
}

.platform {
	&__item {
		text-align: center;

		&:hover {
			.icon {
				fill: #fff;
				@include img-size;
			}
		}
	}
	&__img {
		height: 6rem;
		width: 6rem;
		margin: 0 auto;

		.icon {
			fill: #1aafe9;
			@include img-size;
			transition: all 0.5s;
		}
	}
}
